In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "ISO-8859-1")
df.head(456)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
451,4,Algeria,2563,Olives (including preserved),5142,Food,1000 tonnes,151.00,152.00,159.00,162.00,165.00
452,4,Algeria,2563,Olives (including preserved),645,Food supply quantity (kg/capita/yr),kg,3.88,3.82,3.93,3.92,3.90
453,4,Algeria,2563,Olives (including preserved),664,Food supply (kcal/capita/day),kcal/capita/day,10.00,10.00,10.00,10.00,10.00
454,4,Algeria,2563,Olives (including preserved),674,Protein supply quantity (g/capita/day),g/capita/day,0.12,0.12,0.12,0.12,0.12
455,4,Algeria,2563,Olives (including preserved),684,Fat supply quantity (g/capita/day),g/capita/day,1.09,1.07,1.10,1.10,1.09

In [3]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [5]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [6]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
60938    False
60939    False
60940    False
60941    False
60942    False
Length: 60943, dtype: bool

In [7]:
df.isnull()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,False,False,False,False,False,False,False,False,False,False,False,False
60939,False,False,False,False,False,False,False,False,False,False,False,False
60940,False,False,False,False,False,False,False,False,False,False,False,False
60941,False,False,False,False,False,False,False,False,False,False,False,False
60942,False,False,False,False,False,False,False,False,False,False,False,False

In [8]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [11]:
Item_sum_2014 = df['Y2014'].groupby(df['Item']).sum()
Item_sum_2017 = df['Y2017'].groupby(df['Item']).sum()

In [12]:
Item_sum_2014

Item
Alcohol, Non-Food        2403.00
Alcoholic Beverages    102410.11
Animal Products         11935.65
Animal fats            209460.54
Apples and products      9499.23
                         ...
Vegetables, Other      155038.96
Vegetal Products       107145.19
Wheat and products     232670.13
Wine                     4497.36
Yams                   200396.96
Name: Y2014, Length: 119, dtype: float64

In [13]:
Item_sum_2017

Item
Alcohol, Non-Food        2348.00
Alcoholic Beverages     95581.06
Animal Products         11547.65
Animal fats            269617.53
Apples and products     10198.90
                         ...
Vegetables, Other      157752.59
Vegetal Products       107655.20
Wheat and products     240047.62
Wine                     4178.02
Yams                   229174.59
Name: Y2017, Length: 119, dtype: float64

In [14]:
Element_sum_2018 = df['Y2018'].groupby(df['Element']).sum()
Element_sum_2017 = df['Y2017'].groupby(df['Element']).sum()
Element_sum_2016 = df['Y2016'].groupby(df['Element']).sum()
Element_sum_2015 = df['Y2015'].groupby(df['Element']).sum()
Element_sum_2014 = df['Y2014'].groupby(df['Element']).sum()

In [16]:
Element_sum_2018

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [17]:
Element_sum_2017

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [18]:
Element_sum_2016

Element
Domestic supply quantity                  2044842.70
Export Quantity                            151920.46
Fat supply quantity (g/capita/day)          10102.77
Feed                                       228958.65
Food                                      1247022.17
Food supply (kcal/capita/day)              451810.00
Food supply quantity (kg/capita/yr)         48985.28
Import Quantity                            286582.78
Losses                                     157787.00
Other uses (non-food)                       69563.68
Processing                                 280631.00
Production                                1943537.15
Protein supply quantity (g/capita/day)      11779.69
Residuals                                   37224.00
Seed                                        23389.20
Stock Variation                             33140.12
Total Population - Both sexes             1085107.00
Tourist consumption                            89.00
Name: Y2016, dtype: float64

In [19]:
Element_sum_2015

Element
Domestic supply quantity                  2021493.55
Export Quantity                            157614.47
Fat supply quantity (g/capita/day)          10235.74
Feed                                       225050.22
Food                                      1232361.10
Food supply (kcal/capita/day)              453383.00
Food supply quantity (kg/capita/yr)         49345.13
Import Quantity                            267018.46
Losses                                     155439.00
Other uses (non-food)                       66254.41
Processing                                 287929.00
Production                                1947019.39
Protein supply quantity (g/capita/day)      11833.95
Residuals                                   30045.00
Seed                                        23976.82
Stock Variation                             34910.99
Total Population - Both sexes             1058081.00
Tourist consumption                           349.00
Name: Y2015, dtype: float64

In [20]:
Element_sum_2014

Element
Domestic supply quantity                  1996716.35
Export Quantity                            150020.64
Fat supply quantity (g/capita/day)          10225.56
Feed                                       216927.89
Food                                      1212332.49
Food supply (kcal/capita/day)              454257.00
Food supply quantity (kg/capita/yr)         49650.63
Import Quantity                            274144.48
Losses                                     153223.00
Other uses (non-food)                       78718.13
Processing                                 282923.00
Production                                1931287.75
Protein supply quantity (g/capita/day)      11836.46
Residuals                                   30149.00
Seed                                        21922.92
Stock Variation                             58749.83
Total Population - Both sexes             1031585.00
Tourist consumption                           416.00
Name: Y2014, dtype: float64

In [21]:
Area_Element_sum= df['Y2018'].groupby([df['Element'],df['Area']]).sum()

In [22]:
Area_Element_sum

Element                   Area
Domestic supply quantity  Algeria                  90023.42
                          Angola                   59590.22
                          Benin                    31447.90
                          Botswana                  3045.85
                          Burkina Faso             25705.16
                                                     ...
Tourist consumption       Cabo Verde                   7.00
                          Egypt                       23.00
                          Kenya                       17.00
                          Mauritius                   31.00
                          Sao Tome and Principe       12.00
Name: Y2018, Length: 803, dtype: float64

In [23]:
Area_Element_sum['Import Quantity']

Area
Algeria                        36238.29
Angola                          7769.67
Benin                           7008.24
Botswana                        1908.42
Burkina Faso                    2605.64
Cabo Verde                       499.66
Cameroon                        4188.88
Central African Republic          75.02
Chad                             491.95
Comoros                            2.92
Congo                           1785.27
CÃ´te d'Ivoire                   9271.21
Djibouti                        3784.92
Egypt                          53954.20
Eswatini                         936.53
Ethiopia                        5655.24
Ethiopia PDR                       0.00
Gabon                           1079.75
Gambia                          1212.10
Ghana                           9914.68
Guinea                          4707.95
Guinea-Bissau                    497.72
Kenya                          11188.96
Lesotho                         1016.97
Liberia                         1203.77
Madagascar                      3214.79
Malawi                           520.20
Mali                            1962.06
Mauritania                      3575.74
Mauritius                       1672.39
Morocco                        19448.50
Mozambique                      5552.03
Namibia                         1462.04
Niger                           2390.20
Nigeria                        21923.38
Rwanda                          1734.44
Sao Tome and Principe             84.10
Senegal                         8005.24
Seychelles                        77.71
Sierra Leone                    1659.22
South Africa                   16192.45
Sudan                           9130.11
Sudan (former)                     0.00
Togo                            3625.48
Tunisia                        11030.91
Uganda                          3209.87
United Republic of Tanzania     1863.68
Zambia                           990.75
Zimbabwe                        1673.84
Name: Y2018, dtype: float64

In [24]:
df['Area'].duplicated()

0        False
1         True
2         True
3         True
4         True
         ...
60938     True
60939     True
60940     True
60941     True
60942     True
Name: Area, Length: 60943, dtype: bool

In [25]:
unique_country =df['Area'].drop_duplicates()

In [26]:
unique_country.count()

49